body {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: #80c1d6;
  color: white;
  font-family: Atma;
}

h1,
h2 {
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Bangers;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  margin: auto;
  max-width: 60rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h2 {
  font-size: 3rem;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
}

article ul {
  margin-bottom: 6rem;
}

article h2 {
  font-size: 4rem;
}

article h2:after {
  content: "";
  height: 3rem;
  margin-top: 2rem;
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #eef13f), color-stop(50%, transparent)), -webkit-gradient(linear, left top, right top, color-stop(50%, #eef13f), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #eef13f 50%, transparent 50%), linear-gradient(to right, #eef13f 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 3rem 1.5rem;
  background-position: left top, 1.5rem bottom;
}

article,
footer {
  border-top: 0.5rem solid rgba(0, 0, 0, 0.06);
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0.06);
  padding: 4rem 0;
}

header {
  min-height: 100vh;
  background-image: url("../img/blue-splash.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header img {
  display: inline-block;
  margin: 6rem 0 3rem;
}

h1 {
  color: #fe6638;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 white, 2px 2px 0 white;
  font-size: 10vmin;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(128, 178, 56, 0.8);
  z-index: 2;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav a {
  display: inline-block;
  padding: 1rem 0.5rem;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

nav li:nth-child(odd) a:hover {
  -webkit-transform: scale(1.5) rotate(5deg);
          transform: scale(1.5) rotate(5deg);
}

nav li:nth-child(even) a:hover {
  -webkit-transform: scale(1.5) rotate(-5deg);
          transform: scale(1.5) rotate(-5deg);
}

.obstacles {
  background: #fe6638;
}

.obstacles ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 24px;
}

.obstacles li {
  padding: 1rem;
  background: #81b238;
  text-align: center;
  border-radius: 1.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.obstacles li:hover {
  background: #eef13f;
  color: #fe6638;
}

.obstacles-title {
  font-size: 1.5rem;
  margin: 0;
}

.obstacles-small-grid {
  display: -ms-grid;
  display: grid;
  margin: 2rem 0;
  display: grid;
  -ms-grid-columns: (minmax(4rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 12px;
}

.obstacles-small-grid img {
  border: 2px dashed;
}

.prizes {
  background: #80b238;
}

.prizes li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 2px dashed #eef13f;
}

.prizes li img {
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prizes li:hover img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 30em) {
  .prizes ul {
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

form {
  display: -ms-grid;
  display: grid;
  font-size: 1.5rem;
}

input {
  display: block;
  font: inherit;
  width: 100%;
  padding: 1rem;
  background: #fe6638;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

input:focus {
  background: #eef13f;
  color: #fe6638;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

button {
  font-family: Bangers;
  font-size: 1.5rem;
  display: inline-block;
  height: 10rem;
  margin: auto;
  cursor: pointer;
  border: none;
  background: url("../img/submit_bg.png") no-repeat center center;
  background-size: contain;
  text-align: center;
  color: inherit;
  text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  letter-spacing: 2px;
}

button:hover, button:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (min-width: 30em) {
  form {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
  }
  form button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

footer {
  background: #eef13f;
  color: black;
  position: relative;
}

footer .wrap {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 30em) {
  footer .wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
  }
}

footer img {
  position: absolute;
  -webkit-transform: translate3d(0, -60%, 0);
          transform: translate3d(0, -60%, 0);
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

footer h2,
footer h3 {
  text-align: center;
}

@media (min-width: 30em) {
  footer .wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
  }
  footer h2,
  footer h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  footer p:first-of-type,
  address:first-of-type {
    text-align: right;
  }
}
/*# sourceMappingURL=style.css.map */