html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: $blue;
  color: $text-color;
  font-family: map-get($fonts, "body");
}

h1,
h2 {
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: map-get($fonts, "headings");
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  margin: auto;
  max-width: calculate-rem(960px);
  padding-left: calculate-rem(24px);
  padding-right: calculate-rem(24px);
}

h2 {
  font-size: calculate-rem(48px);
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
}
article {
  ul {
    margin-bottom: calculate-rem(2 * 48px);
  }
  h2 {
    font-size: calculate-rem(64px);
    &:after {
      $height: 3rem;
      content: "";
      height: $height;
      margin-top: 2rem;
      display: block;
      background-image: linear-gradient(to right, $yellow 50%, transparent 50%),
        linear-gradient(to right, $yellow 50%, transparent 50%);
      background-repeat: repeat-x;
      background-size: $height $height / 2;
      background-position: left top, $height / 2 bottom;
    }
  }
}

article,
footer {
  $border-height: calculate-rem(8px);
  border-top: $border-height solid rgba(0, 0, 0, 0.06);
  border-bottom: $border-height solid rgba(0, 0, 0, 0.06);
  padding: calculate-rem(64px) 0;
}
