footer {
  background: $yellow;
  color: $text-dark-color;
  position: relative;
  h2 {
    font-size: calculate-rem(48px);
  }
  .wrap {
    display: grid;
    @media (min-width: 30em) {
      grid-template-columns: 1fr 1fr;
      gap: 1rem 2rem;
    }
  }
  img {
    position: absolute;
    transform: translate3d(0, -60%, 0);
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  h2,
  h3 {
    text-align: center;
    @media (min-width: 30em) {
      grid-column: 1 / span 2;
    }
  }
}

@media (min-width: 30em) {
  footer p:first-of-type,
  address:first-of-type {
    text-align: right;
  }
}
