form {
  display: grid;
  font-size: 1.5rem;
}

input {
  display: block;
  font: inherit;
  width: 100%;
  padding: 1rem;
  background: $orange;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  &:focus {
    background: $yellow;
    color: $orange;
  }
}

::-webkit-input-placeholder {
  color: #fff;
}
:-moz-placeholder {
  color: #fff;
}

button {
  font-family: map-get($fonts, "headings");
  font-size: 1.5rem;
  display: inline-block;
  height: 10rem;
  margin: auto;
  cursor: pointer;
  border: none;
  background: url("../img/submit_bg.png") no-repeat center center;
  background-size: contain;
  text-align: center;
  color: inherit;
  text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);
  transform: rotate(-8deg);
  transition: 0.6s;
  letter-spacing: 2px;
  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

@media (min-width: 30em) {
  form {
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    button {
      grid-column: 1 / span 2;
    }
  }
}
