$yellow: #eef13f;
$orange: #fe6638;
$green: #80b238;
$blue: #80c1d6;
$text-color: white;
$text-dark-color: black;

$transition: 1s;

$fonts: (
  body: Atma,
  headings: Bangers,
);

$content-width: 960px;
